body {
  font-family: "Lato", sans-serif;
  color: #2D2D2D;
  overflow-x: hidden;
}

*::-moz-selection {
  color: #fff;
  background: #FFA9B8;
}

*::selection {
  color: #fff;
  background: #FFA9B8;
}

a,
input,
button,
textarea,
select {
  text-decoration: none;
  outline: none;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
}

.header {
  width: 100%;
  background-color: #92FFFF;
}

.header .logo {
  width: 100%;
  position: relative;
  top: 58%;
}

.header h2 {
  font-family: "Source Code Pro", monospace;
  font-weight: 600;
  border-left: 10px solid #2D2D2D;
}

.header .mini_logo {
  width: 100%;
}

.intro h1 {
  font-family: "Source Code Pro", monospace;
  font-weight: 700;
}

.intro p {
  border-left: 10px solid #2D2D2D;
}

.intro p a {
  color: #2D2D2D;
  font-weight: 700;
  text-decoration: underline;
}

.intro .buttons .btn-intro-log {
  width: 100%;
  border-radius: 0;
  font: inherit;
  color: #2D2D2D;
  font-weight: 700;
  border: 3px solid #2D2D2D;
  display: block;
  text-align: center;
  background-color: #FFDD63;
  -webkit-box-shadow: 7px 7px 0px #2D2D2D;
          box-shadow: 7px 7px 0px #2D2D2D;
  margin-bottom: 7px;
}

.intro .buttons .btn-intro-log:hover, .intro .buttons .btn-intro-log:focus {
  -webkit-transform: translateX(7px) translateY(7px);
          transform: translateX(7px) translateY(7px);
  -webkit-box-shadow: 0px 0px 0px #2D2D2D;
          box-shadow: 0px 0px 0px #2D2D2D;
}

.intro .buttons .btn-intro-log:active {
  -webkit-box-shadow: inset 7px 7px 0px #ffcc17;
          box-shadow: inset 7px 7px 0px #ffcc17;
}

.intro .buttons .btn-intro-reg {
  width: 100%;
  border-radius: 0;
  font: inherit;
  color: #2D2D2D;
  font-weight: 700;
  border: 3px solid #2D2D2D;
  display: block;
  text-align: center;
  background-color: #FFA9B8;
  -webkit-box-shadow: 7px 7px 0px #2D2D2D;
          box-shadow: 7px 7px 0px #2D2D2D;
  margin-bottom: 7px;
}

.intro .buttons .btn-intro-reg:hover, .intro .buttons .btn-intro-reg:focus {
  -webkit-transform: translateX(7px) translateY(7px);
          transform: translateX(7px) translateY(7px);
  -webkit-box-shadow: 0px 0px 0px #2D2D2D;
          box-shadow: 0px 0px 0px #2D2D2D;
}

.intro .buttons .btn-intro-reg:active {
  -webkit-box-shadow: inset 7px 7px 0px #ff5d79;
          box-shadow: inset 7px 7px 0px #ff5d79;
}

.section {
  text-align: center;
}

.section h2 {
  font-family: "Source Code Pro", monospace;
  font-weight: 600;
  border-right: 13px solid #2D2D2D;
  width: auto;
  margin: 0px auto;
  display: inline-block;
}

.company-list .carousel .carousel-control-prev,
.company-list .carousel .carousel-control-next {
  font: inherit;
  font-size: 3em;
  color: #2D2D2D;
}

.company-list .carousel .card {
  color: #2D2D2D;
  border: 2px solid rgba(0, 0, 0, 0);
  border-radius: 0;
  position: relative;
  top: 0;
  left: 0;
  cursor: pointer;
}

.company-list .carousel .card img {
  width: 100%;
}

.company-list .carousel .card:hover, .company-list .carousel .card:focus {
  top: -7px;
  left: -7px;
  -webkit-box-shadow: 7px 7px 0px #2D2D2D;
          box-shadow: 7px 7px 0px #2D2D2D;
  border: 2px solid #2D2D2D;
}

.form input,
.form textarea {
  width: 100%;
  border: 3px solid #2D2D2D;
}

.form input:active, .form input:focus,
.form textarea:active,
.form textarea:focus {
  -webkit-box-shadow: 0px 0px 0px 7px #92FFFF;
          box-shadow: 0px 0px 0px 7px #92FFFF;
}

.form textarea {
  min-height: 150px;
}

.form input[type="submit"] {
  width: 100%;
  border-radius: 0;
  font: inherit;
  color: #2D2D2D;
  font-weight: 700;
  border: 3px solid #2D2D2D;
  display: block;
  text-align: center;
  background-color: #fff;
  -webkit-box-shadow: 7px 7px 0px #FFA9B8;
          box-shadow: 7px 7px 0px #FFA9B8;
  margin-bottom: 7px;
}

.form input[type="submit"]:hover, .form input[type="submit"]:focus {
  -webkit-transform: translateX(7px) translateY(7px);
          transform: translateX(7px) translateY(7px);
  -webkit-box-shadow: 0px 0px 0px #FFA9B8;
          box-shadow: 0px 0px 0px #FFA9B8;
}

.form input[type="submit"]:active {
  -webkit-box-shadow: inset 7px 7px 0px #d9d9d9;
          box-shadow: inset 7px 7px 0px #d9d9d9;
}

.footer {
  width: 100%;
  background-color: #92FFFF;
}

.footer .logo {
  width: 100%;
  position: relative;
  top: -42%;
  display: block;
}

.footer .nav .col {
  text-align: center;
}

.footer .nav .col a {
  font-family: "Lato", sans-serif;
  color: #2D2D2D;
  font-weight: 500;
  border-bottom: 1px solid rgba(0, 0, 0, 0);
  -webkit-transition: all .1s linear;
  transition: all .1s linear;
}

.footer .nav .col a:hover, .footer .nav .col a:active, .footer .nav .col a:focus {
  border-bottom: 2px solid #2D2D2D;
}

.footer p {
  text-align: center;
  margin: 0;
}

.registration .form .autorization-submit {
  width: 100%;
  border-radius: 0;
  font: inherit;
  color: #2D2D2D;
  font-weight: 700;
  border: 3px solid #2D2D2D;
  display: block;
  text-align: center;
  background-color: #FFDD63;
  -webkit-box-shadow: 7px 7px 0px #2D2D2D;
          box-shadow: 7px 7px 0px #2D2D2D;
  margin-bottom: 7px;
}

.registration .form .autorization-submit:hover, .registration .form .autorization-submit:focus {
  -webkit-transform: translateX(7px) translateY(7px);
          transform: translateX(7px) translateY(7px);
  -webkit-box-shadow: 0px 0px 0px #2D2D2D;
          box-shadow: 0px 0px 0px #2D2D2D;
}

.registration .form .autorization-submit:active {
  -webkit-box-shadow: inset 7px 7px 0px #ffcc17;
          box-shadow: inset 7px 7px 0px #ffcc17;
}

.registration .form .registration-submit {
  width: 100%;
  border-radius: 0;
  font: inherit;
  color: #2D2D2D;
  font-weight: 700;
  border: 3px solid #2D2D2D;
  display: block;
  text-align: center;
  background-color: #FFA9B8;
  -webkit-box-shadow: 7px 7px 0px #2D2D2D;
          box-shadow: 7px 7px 0px #2D2D2D;
  margin-bottom: 7px;
}

.registration .form .registration-submit:hover, .registration .form .registration-submit:focus {
  -webkit-transform: translateX(7px) translateY(7px);
          transform: translateX(7px) translateY(7px);
  -webkit-box-shadow: 0px 0px 0px #2D2D2D;
          box-shadow: 0px 0px 0px #2D2D2D;
}

.registration .form .registration-submit:active {
  -webkit-box-shadow: inset 7px 7px 0px #ff5d79;
          box-shadow: inset 7px 7px 0px #ff5d79;
}

.registration .form p {
  text-align: center;
}

.registration .form p a {
  color: #2D2D2D;
  font-weight: 700;
  border-bottom: 1px solid rgba(0, 0, 0, 0);
  -webkit-transition: all .1s linear;
  transition: all .1s linear;
}

.registration .form p a:hover, .registration .form p a:active, .registration .form p a:focus {
  border-bottom: 3px solid #2D2D2D;
}

.help img {
  width: 100%;
}
