*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  outline: none;
  color: inherit;
}

body {
  font-family: "Lato", sans-serif;
  color: #2D2D2D;
  font-size: 24px;
  line-height: 1.5;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.conteiner {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
}

.header {
  width: 100%;
  min-height: 100px;
  background-color: #92FFFF;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header img {
  width: 750px;
  display: block;
  position: absolute;
  top: 70px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}

.intro {
  width: 100%;
  height: 100vh;
  padding-top: 230px;
}

.intro h1 {
  font-family: "Source Code Pro", monospace;
  width: 1200px;
  margin-bottom: 60px;
}

.intro p {
  width: 1160px;
  line-height: 40px;
  letter-spacing: 0.04em;
  padding-left: 30px;
  border-left: 13px solid #2D2D2D;
}

.intro .buttons {
  margin-top: 70px;
}

.intro .buttons a {
  width: 380px;
}

.intro .buttons > a {
  margin-right: 50px;
}

.intro .buttons .log {
  display: inline-block;
  text-align: center;
  position: relative;
  top: 0px;
  left: 0px;
  padding: 20px;
  background-color: #FFDD63;
  border: 3px solid #2D2D2D;
  -webkit-box-shadow: 7px 7px 0px #2D2D2D, 6px 6px 0px #2D2D2D, 5px 5px 0px #2D2D2D, 4px 4px 0px #2D2D2D, 3px 3px 0px #2D2D2D, 2px 2px 0px #2D2D2D, 1px 1px 0px #2D2D2D;
          box-shadow: 7px 7px 0px #2D2D2D, 6px 6px 0px #2D2D2D, 5px 5px 0px #2D2D2D, 4px 4px 0px #2D2D2D, 3px 3px 0px #2D2D2D, 2px 2px 0px #2D2D2D, 1px 1px 0px #2D2D2D;
  -webkit-transition: all linear .1s;
  transition: all linear .1s;
  margin-bottom: 7px;
  font-weight: 700;
}

.intro .buttons .log:hover, .intro .buttons .log:focus {
  top: 7px;
  left: 7px;
  -webkit-box-shadow: 0px 0px 0px #2D2D2D;
          box-shadow: 0px 0px 0px #2D2D2D;
}

.intro .buttons .log:active {
  -webkit-box-shadow: inset 7px 7px 0px #ffcc17;
          box-shadow: inset 7px 7px 0px #ffcc17;
}

.intro .buttons .reg {
  display: inline-block;
  text-align: center;
  position: relative;
  top: 0px;
  left: 0px;
  padding: 20px;
  background-color: #FFA9B8;
  border: 3px solid #2D2D2D;
  -webkit-box-shadow: 7px 7px 0px #2D2D2D, 6px 6px 0px #2D2D2D, 5px 5px 0px #2D2D2D, 4px 4px 0px #2D2D2D, 3px 3px 0px #2D2D2D, 2px 2px 0px #2D2D2D, 1px 1px 0px #2D2D2D;
          box-shadow: 7px 7px 0px #2D2D2D, 6px 6px 0px #2D2D2D, 5px 5px 0px #2D2D2D, 4px 4px 0px #2D2D2D, 3px 3px 0px #2D2D2D, 2px 2px 0px #2D2D2D, 1px 1px 0px #2D2D2D;
  -webkit-transition: all linear .1s;
  transition: all linear .1s;
  margin-bottom: 7px;
  font-weight: 700;
}

.intro .buttons .reg:hover, .intro .buttons .reg:focus {
  top: 7px;
  left: 7px;
  -webkit-box-shadow: 0px 0px 0px #2D2D2D;
          box-shadow: 0px 0px 0px #2D2D2D;
}

.intro .buttons .reg:active {
  -webkit-box-shadow: inset 7px 7px 0px #ff5d79;
          box-shadow: inset 7px 7px 0px #ff5d79;
}
