.container-xxl,
.col-4,
.col-md-2,
.col-1,
.col-12,
.col {
  border: 1px solid;
}

.col-4,
.col-md-2,
.col-1,
.col-12,
.col {
  background-color: darkgray;
}

.col-12 {
  background-color: #ec9b9b;
}

.header,
.footer {
  background-color: #ec9b9b;
}

.company-logo {
  display: block;
  max-width: 150px;
  position: absolute;
}

.company-social {
  display: block;
  width: 100%;
  text-align: center;
  font-size: 30px;
  color: #2D2D2D;
}

.company-social:hover, .company-social:focus, .company-social:active {
  color: #141414;
}

.company-footer p img {
  display: inline;
  width: 200px;
}

.company-footer-logo {
  width: 100%;
}

.header p {
  background-color: #fff;
}
