.company-header {
  background-color: #ec9b9b;
}

.company-logo {
  display: block;
  max-width: 100%;
  max-height: 100px;
}

.company-social {
  display: block;
  width: 100%;
  text-align: center;
  font-size: 30px;
  color: #2D2D2D;
}

.company-social:hover, .company-social:focus, .company-social:active {
  color: #141414;
}

.company-footer {
  background-color: #ec9b9b;
}
