.company-header {
  background-color: #ec9b9b;
}

.company-logo {
  display: block;
  max-width: 100%;
  max-height: 100px;
}

.company-social {
  display: block;
  width: 100%;
  text-align: center;
  font-size: 30px;
  color: #2D2D2D;
}

.company-social:hover, .company-social:focus, .company-social:active {
  color: #141414;
}

.company-product {
  font-size: 1.2em;
}

.company-product-img {
  background-size: cover;
  background-position: center;
}

.company-product .price {
  font-weight: 700;
}

.company-product .old-price {
  font-weight: 400;
  font-size: .8em;
  text-decoration: line-through;
  text-decoration-thickness: 1px;
}

.company-product .new-price {
  color: #fc1b1b;
}

.company-product .btn {
  width: 60% !important;
}

.company-footer {
  background-color: #ec9b9b;
}

.company-footer .logo-link {
  display: inline;
  width: 200px;
}

.company-footer-logo {
  width: 100%;
}
