$regular-font: 'Lato', sans-serif;
$main-font: 'Source Code Pro', monospace;

$white-color: #FFFFFF;
$dark-color: #2D2D2D;
$yellow-color: #FFDD63;
$blue-color: #92FFFF;
$pink-color: #FFA9B8;

body {
    font-family: $regular-font;
    color: $dark-color;
    font-size: 140%;
}

a,
input,
button,
textarea,
select {
    text-decoration: none;
    outline: none;
    transition: all 0.1s linear;
}

@mixin button ($clr, $shclr: $dark-color) {
    width: 100%;
    border-radius: 0;
    // padding: 15px;
    font: inherit;
    color: $dark-color;
    font-weight: 700;
    border: 3px solid $dark-color;
    display: block;
    text-align: center;
    position: relative;
    top: 0px;
    left: 0px;
    background-color: $clr;
    // box-shadow: 1px 1px 0px $shclr, 2px 2px 0px $shclr, 3px 3px 0px $shclr, 4px 4px 0px $shclr, 5px 5px 0px $dark-color, 6px 6px 0px $dark-color, 7px 7px 0px $dark-color;
    box-shadow: 7px 7px 0px $shclr;

    margin-bottom: 7px;

    &:hover,
    &:focus {
        top: 7px;
        left: 7px;
        box-shadow: 0px 0px 0px $dark-color;
    }

    &:active {
        box-shadow: inset 7px 7px 0px darken($clr, 15%);
    }
}

.header {
    width: 100%;
    background-color: $blue-color;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: -99;

    .logo {
        width: 100%;
        position: relative;
        top: 58%;
        display: block;
    }

    // h2 {
    //     display: block;
    //     font-family: $main-font;
    //     font-size: 48px;
    //     font-weight: 600;
    //     border-left: 13px solid $dark-color;
    //     padding: 0;
    //     padding-left: 24px;
    //     line-height: 1em;
    // }

    // .mini_logo {
    //     width: 400px;
    //     height: 100%;
    // }
}


.intro {
    margin-top: 30px;
    padding: 10% 0;

    h1 {
        font-family: $main-font;
        font-weight: 700;
    }

    p {
        padding-left: 30px;
        border-left: 13px solid $dark-color;
    }

    .buttons {
        .btn-intro-log {
            @include button($clr: $yellow-color);
        }

        .btn-intro-reg {
            @include button($clr: $pink-color);
        }
    }
}

.section {
    text-align: center;
    padding-bottom: 5%;

    h2 {
        font-family: $main-font;
        font-weight: 600;
        border-right: 13px solid $dark-color;
        width: auto;
        margin: 0px auto;
        display: inline-block;
    }
}

.company-list {
    .carousel {

        .carousel-control-prev,
        .carousel-control-next {
            font: inherit;
            font-size: 3em;
            color: $dark-color;
        }

        .carousel-control-prev {
            left: -3%;
        }

        .carousel-control-next {
            right: -3%;
        }
    }

    .card {
        color: $dark-color;
        border: 2px solid rgba(0, 0, 0, 0);
        border-radius: 0;
        position: relative;
        top: 0;
        left: 0;
        cursor: pointer;

        img {
            width: 100%;
        }

        h3 {
            font-weight: 600;
        }

        &:hover,
        &:focus {
            top: -7px;
            left: -7px;
            box-shadow: 7px 7px 0px $dark-color;
            border: 2px solid $dark-color;
        }
    }
}

.form {

    input,
    textarea {
        width: 100%;
        padding: 10px 20px;
        border: 3px solid $dark-color;

        &:active,
        &:focus {
            box-shadow: 0px 0px 0px 7px #92FFFF;
        }
    }

    textarea {
        min-height: 150px;
    }

    input[type="submit"] {
        @include button($clr: #fff, $shclr: $pink-color);
    }
}

.footer {
    width: 100%;
    background-color: $blue-color;

    .logo {
        width: 100%;
        position: relative;
        top: -42%;
        display: block;
    }

    .nav {
        .col {
            text-align: center;
        }

        a {
            font-family: $regular-font;
            color: $dark-color;
            font-weight: 500;
            border-bottom: 1px solid rgba(0, 0, 0, 0);
            transition: all .1s linear;

            &:hover,
            &:active,
            &:focus {
                border-bottom: 2px solid $dark-color;
            }
        }
    }

    p {
        text-align: center;
    }
}


.container-xl,
.col,
.col-8,
.col-12,
.col-md-6 {
    border: 1px solid red;
}