@import "_nullStyle";

$regular-font: 'Lato', sans-serif;
$main-font: 'Source Code Pro', monospace;

$white-color: #FFFFFF;
$dark-color: #2D2D2D;
$yellow-color: #FFDD63;
$blue-color: #92FFFF;
$pink-color: #FFA9B8;

body {
    font-family: $regular-font;
    color: $dark-color;
    font-size: 24px;
    line-height: 1.5;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

.conteiner {
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
}

.header {
    width: 100%;
    min-height: 100px;
    background-color: $blue-color;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
    align-items: center;

    img {
        width: 750px;
        display: block;
        position: absolute;
        top: 70px;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
    }
}

@mixin button ($clr, $shclr: $dark-color) {
    display: inline-block;
    text-align: center;
    position: relative;
    top: 0px;
    left: 0px;
    padding: 20px;
    background-color: $clr;
    border: 3px solid $dark-color;
    box-shadow: 1px 1px 0px $shclr, 2px 2px 0px $shclr, 3px 3px 0px $shclr, 4px 4px 0px $shclr, 5px 5px 0px $dark-color, 6px 6px 0px $dark-color, 7px 7px 0px $dark-color;
    transition: .1s linear all;
    margin-bottom: 7px;
    font-weight: 700;

    &:hover,
    &:focus {
        top: 7px;
        left: 7px;
        box-shadow: 0px 0px 0px $dark-color;
    }

    &:active {
        box-shadow: inset 7px 7px 0px darken($clr, 15%);
    }
}

.intro {
    width: 100%;
    height: 100vh;
    padding-top: 230px;

    h1 {
        font-family: $main-font;
        width: 1200px;
        margin-bottom: 60px;
    }

    p {
        width: 1160px;
        line-height: 40px;
        letter-spacing: 0.04em;
        padding-left: 30px;
        border-left: 13px solid $dark-color;
    }

    .buttons {
        margin-top: 70px;

        a {
            width: 380px;
        }

        >a {
            margin-right: 50px;
        }

        .log {
            @include button($clr: $yellow-color);
        }

        .reg {
            @include button($clr: $pink-color);
        }
    }
}

.section {
    width: 100%;
    text-align: center;

    h2 {
        font-family: $main-font;
        font-weight: 600;
        width: auto;
        margin: 30px auto 60px;
        border-right: 13px solid $dark-color;
        display: inline-block;
        padding-right: 20px;
    }
}

@use "sass:math";

.form {
    width: 520px;
    margin: 0 auto;

    input,
    textarea {
        width: 100%;
        padding: 10px 20px;
        margin-bottom: 30px;
        border: 3px solid $dark-color;

        &:active,
        &:focus {
            box-shadow: 0px 0px 0px 5px #92FFFF;
        }
    }

    textarea {
        min-height: 190px;
        resize: vertical;
    }

    input[type="submit"] {
        @include button($clr: #fff, $shclr: $pink-color);

    }
}