@import "_nullStyle";

$regular-font: 'Lato', sans-serif;
$main-font: 'Source Code Pro', monospace;

$white-color: #FFFFFF;
$dark-color: #2D2D2D;
$yellow-color: #FFDD63;
$blue-color: #92FFFF;
$pink-color: #FFA9B8;

body {
    font-family: $regular-font;
    color: $dark-color;
    font-size: 24px;
    line-height: 1.5;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

.conteiner {
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
}

.header {
    width: 100%;
    min-height: 100px;
    background-color: $blue-color;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
    align-items: center;

    img {
        width: 750px;
        display: block;
        position: absolute;
        top: 70px;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
    }
}

@mixin button ($clr) {
    display: inline-block;
    text-align: center;
    padding: 20px;
    background-color: $clr;
    border: 3px solid #2D2D2D;
    box-shadow: 7px 7px 0px #2D2D2D;
    transition: all linear .1s;
    margin-bottom: 7px;

    &:hover,
    &:focus {
        box-shadow: none;
    }

    &:active {
        box-shadow: inset 7px 7px 0px darken($clr, 15%);
    }
}

.intro {
    width: 100%;
    height: 100vh;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;

    h1 {
        font-family: $main-font;
        width: 1200px;
        margin-bottom: 60px;
    }

    p {
        width: 1160px;
        line-height: 40px;
        letter-spacing: 0.04em;
        padding-left: 30px;
        border-left: 13px solid $dark-color;
    }

    .buttons {
        margin-top: 70px;

        a {
            width: 380px;
        }

        >a {
            margin-right: 50px;
        }

        .log {
            @include button($clr: $yellow-color);
        }

        .reg {
            @include button($clr: $pink-color);
        }
    }
}