$user-color: rgb(236, 155, 155);
$regular-font: 'Lato', sans-serif;
$main-font: 'Source Code Pro', monospace;

$white-color: #FFFFFF;
$dark-color: #2D2D2D;
$yellow-color: #FFDD63;
$blue-color: #92FFFF;
$pink-color: #FFA9B8;

.col {
    border: 1px solid;
    background-color: darkgray;
}

.company {

    &-header {
        background-color: $user-color;
    }

    &-logo {
        display: block;
        max-width: 100%;
        max-height: 100px;
    }

    &-social {
        display: block;
        width: 100%;
        text-align: center;
        font-size: 30px;
        color: $dark-color;

        &:hover,
        &:focus,
        &:active {
            color: darken($color: $dark-color, $amount: 10)
        }

    }

    &-footer {
        background-color: $user-color;

        .logo-link {
            display: inline;
            width: 200px;
        }

        &-logo {
            width: 100%;
        }
    }

}